[submodule "thirdparty/godot-cpp"]
	path = thirdparty/godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
[submodule "thirdparty/thorvg"]
	path = thirdparty/thorvg
	url = https://github.com/thorvg/thorvg.git
